@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'SVN-Avo';
  src: url('../assets/fonts/SVN-Avo/SVN-Avo.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Avo';
  src: url('../assets/fonts/SVN-Avo/SVN-Avo-bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Avo';
  src: url('../assets/fonts/SVN-Avo/SVN-Avo-bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Avo';
  src: url('../assets/fonts/SVN-Avo/SVN-Avo-bold.ttf');
  font-weight: 800;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Alegreya Sans', 'SVN-Avo', 'Roboto', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
